<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
  </head>
  <body>
    <h1 style="margin-bottom: 15px">Message Board</h1>
    <% if(userStatus !== 0) {%>
    <form action="/createMessage" method="post" style="display: flex">
      <div>
        <label for="new-message"
          ><input type="text" id="new-message" name="newMessage"
        /></label>
        <button type="submit">send</button>
      </div>
    </form>
    <% } %>
    <% if(messages.length) { %>
    <% messages.forEach((message) => { %>
    <div style="display: flex; flex-direction: column; margin-bottom: 10px">
      <% if(userStatus >= 2) { %>
      <div style="display: flex; gap: 10px">
        <% if(userStatus === 3) { %>
        <form action="/delete-message" method="post">
          <input
            type="text"
            name="messageId"
            value="<%= message.id %>"
            hidden
          />
          <button type="submit" style="color: red">X</button>
        </form>
        <% } %>
        <span><%= message.email %></span>
        <span><%= message.date %></span>
      </div>
      <% } %>
      <span
        >>>
        <%= message.text %></span
      >
    </div>
    <% })}; %>
  </body>
</html>
